:root {
  --black: #171321;
  --blue: #2E4172;
  --white: #f7f8fa;
  --purple: #403075;
  --green: #3e8989;
  --aqua: #86fbfb;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --play: 'Playfair Display', serif;
  --cambria: 'Cambria'
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.happy-hour-content {
  width: auto;
}

.video-container {
  width: 50vw;
  height: 35.5vh;
}

iframe {
  width: 100%;
  height: 100%;
}


.social-media-icons {
  font-size: 24px;
  /* Adjust the size as needed */
  margin-top: 10px;
}

.social-media-icons a {
  text-decoration: none;
  color: #333;
  /* Change the color as needed */
  margin: 0 10px;
  /* Add space between icons */
}

body {
  background-color: #403075;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  margin: 110px 0 0 0;
  height: 260px;
  font-family: var(--cambria);
}

footer {
  text-align: center;
}

/* CSS for the hero banner */
#hero .hero-banner {
  width: 100vw;
  height: 50vh;
  display: block;
  margin: 0 !important;
  /* Remove margin */
  padding: 0 !important;
  /* Remove padding */
}

html {
  box-sizing: border-box;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

.hidden {
  display: none;
}


/* sections */


#intro {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 50px auto;
  max-width: 1200px;
  padding: 100px 0;
}

/* Logo */

.logo {
  height: 78px;
  width: auto;
}

/* Navigation */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  padding: 1rem 1rem;
  margin: 0 auto;
  max-width: 2000px;
  background-color: var(--white);

  transition: top 0.3s;
  box-shadow: 0 2px 10px 0 var(--black);
}

nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


nav a {
  text-decoration: none;
  display: block;
  color: var(--black);
  font-size: 24px;

  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

nav a:hover::after,
nav a.active::after {
  transform: scaleX(1);
  transform-origin: left;
}

nav a.active {
  color: var(--black);
}

.nav-hidden {
  top: -160px;
}

.nav-visible {
  top: 0px;
}

/* Cart */

#cart-btn {
  background-color: transparent;
  border: none;
  color: var(--purple);
  font-size: 1.5rem;
  font-weight: 600;
}

#cart-btn:hover {
  cursor: pointer;
}

/* footer */

section#foot {
  padding: 40px;
  background-color: var(--white);
  color: var(--black);

}