html {
  box-sizing: border-box;
  width: 100%;
  background-color: #226666;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.hidden {
  display: none;
}

/* #form1 {

  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
} */

form {
  margin: 0 300px;
  background-color: white;
  border-radius: 10px;

}

