:root {
  --black: #171321;
  --blue: #2E4172;
  --white: #f7f8fa;
  --purple: #403075;
  --green: #3e8989;
  --aqua: #86fbfb;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --play: 'Playfair Display', serif;
  --cambria: 'cambria'
}


html {
  box-sizing: border-box;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 115px 0 0 0;
  background-color: var(--green);
  font-family: var(--cambria);
  height: 260vh;
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--aqua);
}

.hidden {
  display: none;
}

section {
  margin: 0 auto;

}

/* Hero section */
#hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.hero-image {
  background-image: url('../assets/bottle.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--white);
  text-align: center;
  font-size: 80px;
  width: 100%;
}

.hero-text h1 {
  color: var(--white);
}

/* Cart */

#cart.cart-visible {
  transform: translateX(0);
}

#cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: var(--white);
  border-left: 1px solid rgb(101, 101, 101);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}


#cart.active {
  display: block;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  margin: 20px
}

.cart-header>h2 {
  color: var(--blue);
  margin-top: 20px;
}

#close-cart {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#cart.hidden {
  display: none;
}

#cart-btn {
  background-color: transparent;
  border: none;
  color: var(--purple);
  font-size: 1.5rem;
  font-weight: 600;
}

#cart-btn:hover {
  cursor: pointer;
}

#cart-items {
  margin: 0;
  padding: 20px 0 20px 0;
  height: auto;
  max-height: 750px;
}

.cart-item-wrapper {
  height: 750px;
}

#cart-items .item {
  list-style: none;
  background-color: var(--white);
  transition: background-color 0.3s;
  padding: 10px;

}

.item-container {
  display: flex;
  margin: 10px 0px 10px 0;
}

#cart-items .item:hover {
  background-color: #e4ebf9;
}

.item-container img {
  width: 100px;
  border-radius: 10px;
}

.item-container .cart-text {
  margin-top: 0;
  margin-left: 15px;
  text-wrap: pretty;
  text-align: left;
}

button.remove-item {
  background-color: transparent;
  border: None;
  cursor: pointer;
  padding: 0;

  font-size: 15px;
  color: var(--blue)
}


div.subtotal {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
}

div.subtotal>* {
  margin: 0
}

div.subtotal::before {
  content: '';
  position: absolute;
  top: 0;
  background-color: var(--black);
  height: 1px;
  width: 100%;
}

.calc-wrapper {
  padding: 20px;
}

#calc-total {
  background-color: var(--green);
  border: none;
  color: var(--white);
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}


/* Logo */

.logo {
  height: 78px;
  width: auto;
}

/* Navigation */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  padding: 1rem 1rem;
  margin: 0 auto;
  max-width: 2000px;
  background-color: var(--white);

  transition: top 0.3s;
  box-shadow: 0 2px 10px 0 var(--black);
}

nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


nav a {
  text-decoration: none;
  display: block;
  color: var(--black);
  font-size: 24px;

  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

nav a:hover::after,
nav a.active::after {
  transform: scaleX(1);
  transform-origin: left;
}

nav a.active {
  color: var(--black);
}

.nav-hidden {
  top: -160px;
}

.nav-visible {
  top: 0px;
}

/* 3 Popular products */

#popular-products {
  margin: 2% auto 5% auto;
}

#popular-products>h2 {
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;

}



table {
  color: var(--white);
  width: 100%;
  border-collapse: collapse;
  width: 600px;
  margin: 0 auto;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}

/* popular */
.popular {
  width: 100%;
  background-color: var(--purple);
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.extra-padding {
  padding: 80px 20px 200px 20px;
}

.wrapper>h1 {
  color: var(--white);
  font-size: 80px;
  text-align: top;
  margin-bottom: 20px;
}



/* card */
.card-wrapper {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  background-color: var(--white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  position: relative;

  border-radius: 10px;
}

.card h3 {
  color: var(--black);
  font-family: inherit;
  text-align: center;
}

.card img {
  width: 100%;
  display: block;
  border-radius: 5px 5px 0 0;
  max-height: 300px;
}

.quantity-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.quantity {
  font-size: 1.5rem;
}

.add-to-order {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s;
  border-radius: 0 0 5px 5px;
}

.increase-quantity,
.decrease-quantity {
  background-color: none;
  color: #232121;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.increase-quantity:hover,
.decrease-quantity:hover {
  background-color: #e4e3e3;
}

/* Accordion FAQ */

#faq {
  margin: 10% auto 5% auto;
}

#faq h2 {
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
  color: var(--white);
}

.accordion {
  width: 300px;
}

.accordion .accordion-item {
  margin-bottom: 10px;
}

.accordion-button {
  text-align: left;
  background: #f1f1f1;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.6s ease;

  font-size: 18px;
}

.accordion-button:hover,
.accordion-button.active {
  background-color: #ccc;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  background-color: white;
  padding: 0 10px;

  font-size: 18px;

}

.accordion,
.accordion-content,
.accordion-button,
.accordion-wrapper {
  width: 500px;
}

.accordion-content p {
  margin: 10px 0;
  padding: 10px;
  border-top: 1px solid #eee;
}

.accordion-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}

